<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeryNice products</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style3.css'%}">
</head>

<body>

    <div id="container">
        <div id="clothingpageheader">
            <P>Ezekiel created a Clothing brand named, "VeryNice products". Started in early 2020, VeryNice products was inspired by skate culture and modern street fashion. His wonderful company will be dropping again sometime late 2021. Here below are a few pictures of recent customers. </P>
            <a href="/home">Home</a>
        </div>
        <div id="imgs">
            <img src="{%static 'css/images/alex.jpeg'%}" alt="green hoodie" width="300px" ; height="500px">

            <img src="{%static 'css/images/me.jpg'%}" alt="black hoodie" width="300px" ; height="500px">
            <img src="{%static 'css/images/zach.jpg'%}" alt="purple hoodie" width="300px" ; height="500px">

            <img src="{%static 'css/images/shirt.jpeg'%}" alt="white shirt" width="300px" ; height="500px">
        </div>
        <div id="website">
            <a href="/veryniceproducts">VeryNice products Website</a>
        </div>

    </div>
</body>

</html>