<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn about Ezekiel</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style3.css'%}">
</head>

<body id="body2">
    <a href="/">Home</a>
    <p>*insert very interesting information about Ezekiel*</p><br>
    <div id="bio2">
        <p>The youngest of 3, Ezekiel grew up in Plainfield, Illinois,
            attending Plainfield South High School. His interests growing up were
            video games, basketball and soccer, as he grew older he realized
            software Development was a promising field. He started learning
            Javascript basics and later moved on to Back-end language
            "Ruby on Rails". Dissatified with its decreasing popularity in the industry
            he switched his focus to python and discovered "Coding Dojo",
            a very fine Coding Bootcamp. Coding Dojo taught Ezekiel the skills needed
            to become a Full Stack Devolper.

        </p>
    </div>

</body>

</html>